<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>My Notebook</title>
</head>
<body>
<header>
    <h1>My Notebook</h1>
</header>
<div class="container">

    <form id="note-form" th:action="@{'/addnote'}" method="post">
        <input type="text" id="note-title" placeholder="Title" name="note_title">
        <textarea id="note-content" placeholder="Write your note here" name="note_content"></textarea>
        <button type="submit" id="btnadd">Add Note</button>
    </form>

    <br>

    <div th:each="nt : ${Notes}">
        <ul id="note-list">
            <input type="hidden" name="id" th:value="${nt.id}">
            <h3 th:text="${nt.title}"></h3>
            <p th:text="${nt.text}"></p>

            <form action="/deletenote" method="post" class="note-actions">
                <input type="hidden" name="id" th:value="${nt.id}">
                <button type="submit" id="btndel" style="background-color: #d9534f">Delete</button>
                <button type="submit" id="btnchange" style="background-color: forestgreen"><a th:href="@{'/update/' + ${nt.id}}"  >Change</a></button>
            </form>

        </ul>
        <br>
    </div>
</div>
</body>
</html>
